$circle-bg: rgb(54, 54, 54);
$icon-bg: #636363;


.advantages {
  &__title {
    @include visually-hidden;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    grid-column-gap: 30px;

    padding: 65px 15px 65px;
  }

  &__item {
    margin: 15px 0;

    &:hover {
      .advantages__img {
        border-color: $second;
      }

      .advantages__svg {
        fill: $second;
      }

      .advantages__subtitle {
        color: $second;
      }

      .advantages__text {
        color: white;
      }
    }
  }

  &__img {
    position: relative;

    border-style: solid;
    border-width: 1px;
    border-color: $circle-bg;
    border-radius: 50%;
    width: 104px;
    height: 104px;

    transition: border-color 0.3s linear;
  }

  &__svg {
    height: 40px;

    fill: $icon-bg;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill 0.3s linear;
  }

  &__subtitle {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: rgb(99, 99, 99);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;

    transition: color 0.3s linear;
  }

  &__text {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(85, 85, 85);
    line-height: 1.429;
    text-align: left;

    transition: color 0.3s linear;

    &::after {
      content: '';
      background-color: $second;

      display: block;
      width: 70px;
      height: 2px;
      margin-top: 25px;
    }
  }
}

@media (max-width: 480px) {

  .advantages {
    &__list {
      padding: 30px 15px 25px;
    }

    &__subtitle, &__text {
      text-align: center;
    }

    &__text {
      &::after {
        margin: 25px auto;
      }
    }

    &__img {
      margin: 0 auto;
    }
  }

}