.header {
  border-bottom: 4px solid $second;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {
    margin-right: 20px;
  }

  &__menu {
    padding: 0;
    margin: 0;
  }

  & .active {
    height: calc(100vh - 134px);
  }
}

@media (max-width: 768px) {
  .header {

    &__wrap {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__logo {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}